<div class="d-flex align-items-center justify-content-center">
  <form (ngSubmit)="submitForm()" [formGroup]="loginForm">
    <div class="container">
      <div class="p-4">
        <div class="form-group mb-2">
          <label>Email address</label>
          <input
            class="form-control"
            type="email"
            placeholder="Enter Email"
            formControlName="email"
            required
          />
        </div>

        <div class="form-group mb-2">
          <label>Password</label>
          <input
            class="form-control"
            type="password"
            placeholder="Enter Password"
            formControlName="password"
            required
          />
        </div>
        <p *ngIf="loading; else btn">Loading...</p>
      </div>
      <ng-template #btn>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </ng-template>
      <button
        class="ms-2 btn btn-secondary"
        type="button"
        (click)="presetForm()"
      >
        preset
      </button>
      <button
        class="ms-2 btn btn-secondary disable"
        type="button"
        (click)="restForm()"
      >
        reset
      </button>
    </div>
  </form>
</div>
<div>
  <!-- <p>{{ email.value }}</p>
  <p>{{ password.value }}</p> -->
  <!-- form group -->
  <p>{{ this.loginForm.value.email }}</p>
  <p>{{ this.loginForm.value.password }}</p>
</div>
